<div class="row">
    <div class="col-8 shadow-lg p-0 bg-white">
        <div class="card">
            <div class="card-header">
                <h3>List your Property</h3>
            </div>
            <div class="card-body">
                <form (ngSubmit)='onSubmit()' [formGroup]="addPropertyForm">
                    <div class="tab-panel">
                        <tabset class="member-tabset" #formTabs>
                            <tab heading="Basic Info" formGroupName="BasicInfo">
                                <div class="form-group col-12">
                                    <p>I want to</p>
                                    <div class="btn-group" btnRadioGroup formControlName="SellRent">
                                        <label class="btn btn-outline-primary mx-2" tabindex="0" btnRadio="1"
                                            role="button" name="SellRent">Sell</label>
                                        <label class="btn btn-outline-primary" tabindex="0" btnRadio="2" role="button"
                                            name="SellRent">Rent</label>
                                    </div>
                                    <div class="error-block" *ngIf="SellRent.invalid && nextClicked">
                                        Please select sell or rent
                                    </div>
                                </div>

                                <div class="form-group col-12">
                                    <p>BHK</p>
                                    <div class="btn-group" btnRadioGroup name="BHK" formControlName="BHK">
                                        <label *ngFor="let bhk of [1,2,3,4]" class="btn btn-outline-primary mx-2"
                                            [btnRadio]="bhk" role="button" name="BHK"
                                            (click)="propertyView.bhk = bhk">{{bhk}}</label>
                                    </div>
                                    <div class="error-block" *ngIf="BHK.invalid && nextClicked">
                                        Please select BHK
                                    </div>
                                </div>

                                <div class="form-group col-12">
                                    <p>Property Type</p>
                                    <div class="btn-group" formControlName="PType" btnRadioGroup>
                                        <label *ngFor="let ptype of propertyTypes" class="btn btn-outline-primary mx-2"
                                            [btnRadio]="ptype.id" role="button" tabindex="0" name="PropType"
                                            (click)="propertyView.propertyType=ptype.name">{{ptype.name}}</label>
                                    </div>
                                    <div class="error-block" *ngIf="PType.invalid && nextClicked">
                                        Please select property type
                                    </div>
                                </div>

                                <div class="form-group col-12">
                                    <p>Furnishing Type</p>
                                    <div class="btn-group" btnRadioGroup formControlName="FType">
                                        <label *ngFor="let ftype of furnishTypes" class="btn btn-outline-primary mx-2"
                                            (click)="propertyView.furnishingType = ftype.name" [btnRadio]="ftype.id"
                                            role="button" name="FurnishType">{{ftype.name}}</label>
                                    </div>
                                    <div class="error-block" *ngIf="FType.invalid && nextClicked">
                                        Please select furnishing type
                                    </div>
                                </div>

                                <div class="form-group col-12">
                                    <label>in Building/Society/Project</label>
                                    <input type="text" class="form-control" formControlName="Name" #propName
                                        (keyup)="propertyView.name = propName.value">
                                    <div class="error-block" *ngIf="Name.invalid && (nextClicked || Name.touched)">
                                        Please select building, society or project name
                                    </div>
                                </div>

                                <div class="form-group col-12">
                                    <label>City</label>
                                    <select class="form-control" formControlName="City" #CityName
                                        (change)="updateCity(CityName.value)">
                                        <option value=''>--Select City--</option>
                                        <option *ngFor="let city of cityList" value={{city.id}}>{{city.name}}
                                        </option>
                                    </select>
                                    <div class="error-block" *ngIf="City.invalid && (nextClicked || City.touched)">
                                        Please select city
                                    </div>
                                </div>
                                <div class="form-group col-12 m-2">
                                    <button type="button" class="btn btn-primary btn-block"
                                        (click)="selectTab(1, BasicInfo.valid)">Next</button>
                                </div>
                            </tab>

                            <tab heading="Pricing & Area" formGroupName="PriceInfo">
                                <div class="form-group col-12">
                                    <label *ngIf="SellRent.value == 1">Price (in USD)</label>
                                    <label *ngIf="SellRent.value == 2">Rent (in USD)</label>
                                    <input type="number" class="form-control" formControlName="Price" #priceval
                                        (keyup)="updatePrice(priceval.value)">
                                    <div class="error-block" *ngIf="Price.invalid && (nextClicked || Price.touched)">
                                        <span *ngIf="SellRent.value == 1;else ShowRent">Price</span>
                                        <ng-template #ShowRent>Rent</ng-template>
                                        <span> field is required</span>
                                    </div>
                                </div>

                                <div *ngIf="SellRent.value==2">
                                    <div class="form-group col-12">
                                        <label>Security (in USD)</label>
                                        <input type="number" formControlName="Security" class="form-control">
                                    </div>

                                    <div class="form-group col-12">
                                        <label>Maintenance (in USD)</label>
                                        <input type="number" formControlName="Maintenance" class="form-control">
                                    </div>
                                </div>

                                <div class="form-group col-12">
                                    <label>Built Area (in Sqr Feet)</label>
                                    <input type="number" class="form-control" formControlName="BuiltArea" #builtArea
                                        (keyup)="updateBuiltArea(builtArea.value)">
                                    <div class="error-block" *ngIf="BuiltArea.invalid && nextClicked">
                                        Built up area field is required
                                    </div>
                                </div>

                                <div class="form-group col-12">
                                    <label>Carpet Area (in Sqr Feet)</label>
                                    <input type="number" formControlName="CarpetArea" class="form-control">
                                    <div class="error-block"
                                        *ngIf="CarpetArea.invalid && (nextClicked || CarpetArea.touched)">
                                        Carpet area field is required
                                    </div>
                                </div>

                                <div class="form-group col-12">
                                    <button type="button" class="btn btn-danger btn-block m-2"
                                        (click)="selectTab(0, PriceInfo.valid)">Back</button>
                                    <button type="button" class="btn btn-primary btn-block"
                                        (click)="selectTab(2, PriceInfo.valid)">Next</button>
                                </div>
                            </tab>

                            <tab heading="Address" formGroupName="AddressInfo">
                                <div class="form-group col-12">
                                    <label>Floor</label>
                                    <input type="number" formControlName="FloorNo" class="form-control">
                                    <div class="error-block"
                                        *ngIf="FloorNo.invalid && (nextClicked || FloorNo.touched)">
                                        Floor number field is required
                                    </div>
                                </div>

                                <div class="form-group col-12">
                                    <label>Total Floor</label>
                                    <input type="number" formControlName="TotalFloor" class="form-control">
                                    <div class="error-block"
                                        *ngIf="TotalFloor.invalid && (nextClicked || TotalFloor.touched)">
                                        Total floor field is required
                                    </div>
                                </div>

                                <div class="form-group col-12">
                                    <label>Address</label>
                                    <input type="text" class="form-control" formControlName="Address">
                                    <div class="error-block"
                                        *ngIf="Address.invalid && (nextClicked || Address.touched)">
                                        Address field is required
                                    </div>
                                </div>

                                <div class="form-group col-12">
                                    <label>Landmark</label>
                                    <input type="text" formControlName="LandMark" class="form-control">
                                    <div class="error-block"
                                        *ngIf="LandMark.invalid && (nextClicked || LandMark.touched)">
                                        Landmark field is required
                                    </div>
                                </div>

                                <div class="form-group col-12">
                                    <div class="form-group col-12">
                                        <button type="button" class="btn btn-danger btn-block m-2"
                                            (click)="selectTab(1, AddressInfo.valid || AddressInfo.invalid)">Back</button>

                                        <button type="button" class="btn btn-primary btn-block"
                                            (click)="selectTab(3, AddressInfo.valid)">Next</button>
                                    </div>
                                </div>
                            </tab>

                            <tab heading="Other Details" formGroupName="OtherInfo">
                                <div class="form-group col-12">
                                    <label>Ready to Move</label><br />
                                    <div class="btn-group" btnRadioGroup formControlName="ReadyToMove">
                                        <label class="btn btn-outline-primary mr-2" btnRadio="true" tabindex="0"
                                            role="button" name="ReadyToMove" (click)="propertyView.readyToMove=true">Yes
                                        </label>
                                        <label class="btn btn-outline-primary" btnRadio="false" tabindex="0"
                                            role="button" name="ReadyToMove" (click)="propertyView.readyToMove=false">No
                                        </label>
                                    </div>
                                    <div class="error-block" *ngIf="ReadyToMove.invalid && nextClicked">
                                        Please select ready to move
                                    </div>
                                </div>

                                <div class="form-group col-6">
                                    <label *ngIf="propertyView.readyToMove">Establishment Date</label>
                                    <label *ngIf="!propertyView.readyToMove">Possession Date</label>
                                    <input type="date" class="form-control" formControlName="EstPossessionOn"
                                        #ESTPossessionOn (change)="updateEstPossessionOn(ESTPossessionOn.value)">
                                    <div class="error-block" *ngIf="EstPossessionOn.invalid && nextClicked ">
                                        Possession Date field is required
                                    </div>
                                </div>

                                <div class="form-group col-12">
                                    <label>Gated Community</label>
                                    <div class="btn-group" btnRadioGroup formControlName="Gated">
                                        <label *ngFor="let gate of ['Yes', 'No']" class="btn btn-outline-primary mx-2"
                                            [btnRadio]="gate == 'Yes' ? true : false" role="button"
                                            name="Gated">{{gate}}</label>
                                    </div>
                                    <div class="error-block" *ngIf="Gated.invalid && (nextClicked || Gated.touched)">
                                        Please select Gated field
                                    </div>
                                </div>

                                <div class="form-group col-12">
                                    <p>Main Entrance</p>
                                    <div class="btn-group" btnRadioGroup formControlName="MainEntrance">
                                        <label class="btn btn-outline-primary mr-2" btnRadio="East" tabindex="0"
                                            role="button" name="Entrance">East</label>
                                        <label class="btn btn-outline-primary" btnRadio="West" tabindex="0"
                                            role="button" name="Entrance">West</label>
                                        <label class="btn btn-outline-primary" btnRadio="South" tabindex="0"
                                            role="button" name="Entrance">South</label>
                                        <label class="btn btn-outline-primary" btnRadio="North" tabindex="0"
                                            role="button" name="Entrance">North</label>
                                    </div>
                                    <div class="error-block" *ngIf="MainEntrace.invalid && nextClicked ">
                                        Please select MainEntrance
                                    </div>
                                </div>

                                <div class="form-group col-12">
                                    <label>Description</label>
                                    <textarea type="text" class="form-control" formControlName="Description"
                                        rows="6"></textarea>
                                    <div class="error-block" *ngIf="Description.invalid && nextClicked">
                                        Description field is required
                                    </div>
                                </div>

                                <div class="form-group col-12">
                                    <button type="button" class="btn btn-danger btn-block m-2"
                                        (click)="selectTab(2, OtherInfo.valid || OtherInfo.invalid)">Back</button>

                                    <button type="button" class="btn btn-primary btn-block"
                                        (click)="selectTab(4, OtherInfo.valid)">Next</button>
                                </div>
                            </tab>
                            <tab heading="Photos">
                                <div class="form-group col-12">
                                    <div class="photo-control">
                                        <button class="mt-5" type="button">Upload</button> <br>
                                        This is under construction
                                    </div>
                                </div>
                                <div class="form-group col-12">
                                    <button type="button" class="btn btn-danger btn-block m-2"
                                        (click)="selectTab(3, true)">Back</button>
                                    <button type="reset" class="btn btn-info btn-block m-2">Cancel</button>
                                    <button type="submit" class="btn btn-success btn-block">Save</button>
                                </div>
                            </tab>
                        </tabset>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="card">
            <div class="card-header">
                <h3>Your Property Preview</h3>
            </div>
            <div class="shadow-lg p-3 bg-white">
                <app-property-card [property]="propertyView" [hideIcons]="true"></app-property-card>
            </div>
        </div>
    </div>
</div>